.master-bg {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 40px 40px;
  background-image: repeating-linear-gradient(
    0deg,
    #444cf7,
    #444cf7 1px,
    #e5e5f7 1px,
    #e5e5f7
  );
}
