/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist-Bold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

h1 {
  font-family: "Geist", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
